.container {
    width: 100%;
    margin: 0 auto;
    
    @media screen and (min-width: 480px) {
            width: 480px;
    
            padding-bottom: 60px;
        }
    
    
        @media screen and (min-width: 768px) {
    
            padding-bottom: 60px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
    
            padding-bottom: 94px;
        }
}

.container ul,
li:nth-last-of-type(-n+2) {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main {
    display: flex;
    align-items: center;
}